.button {
    border: none;
    background-color: #191d27;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.500);
    border-radius: 20px 20px;
    margin-left: 1rem;
    width: 200px;
    font-weight: bold;
    font-size: medium;
    transition: ease-in 100ms;
}

.button:hover {
    background-color: #2043a0;
    cursor: pointer;
}