/* estilos do header  */

.header_principal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  width: 100%;
  position: absolute;
}

.logo {
  display: flex;
  scale: 0.752;
}



/* estilos da main */

.menu {
  background-color: #151a25;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu_options {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 30px;
  list-style: none;
  font-size: 1.4rem;
}

.menu_icon {
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  transition: ease-in 300ms;
  border-radius: 50%;
}

.menu_icon img {
  width: 50px;
  padding: 10px;
}

.menu_icon img:hover {
  cursor: pointer;
}

.menu_icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}